<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ include file="$(T4Includes_8_0_0)\TemplateTeam.ttinclude" #>
<#@ output extension=".cs" #>
            // BIAToolKit - Begin Partial DomainModelBuilder <#= ModelInstance.DomainName #>
            <#= ModelInstance.DomainName #>ModelBuilder.CreateModel(modelBuilder);

            // BIAToolKit - End Partial DomainModelBuilder <#= ModelInstance.DomainName #>