<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ include file="$(T4Includes_6_0_0)\TemplateCrud.ttinclude" #>
<#@ output extension=".cs" #>
<# if(ModelInstance.IsTeam && ModelInstance.HasParent) { #>
    // BIAToolKit - Begin Partial TeamMapperUsing <#= ModelInstance.EntityName #>
    using <#= ModelInstance.CompanyName #>.<#= ModelInstance.ProjectName #>.Domain.<#= ModelInstance.DomainName #>.Entities;

    // BIAToolKit - End Partial TeamMapperUsing <#= ModelInstance.EntityName #>
<# }  #>