<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ include file="$(T4Includes_6_0_0)\TemplateCrud.ttinclude" #>
<#@ output extension=".ts" #>
<#  if(ModelInstance.HasParent && ModelInstance.IsTeam) { #>
      // BIAToolKit - Begin Partial <#= ModelInstance.ParentName #>IndexTsCanSelectElementChildSet <#= ModelInstance.EntityName #>
      this.canView<#= ModelInstance.EntityNamePlural #> ||
      // BIAToolKit - End Partial <#= ModelInstance.ParentName #>IndexTsCanSelectElementChildSet <#= ModelInstance.EntityName #>
<# }  #>