<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DtoReferenceSingular" value="Plane"/>
		<add key="DtoReferencePlurial" value="Planes"/>
		<add key="CRUD_Back_DotNet" value="crud-planes-V3.9.0.zip"/>
		<add key="CRUD_Feature_Angular" value="feature-planes-V3.9.0.zip"/>
		<add key="CRUD_Option_Angular" value="domain-airport-option-V3.9.0.zip"/>
		<add key="CRUD_Team_Angular" value="aircraft-maintenance-companies-V3.9.0.zip"/>
	</appSettings>
</configuration>