<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="BIA.ToolKit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<!-- File name -->
		<add key="GenerationSettings" value="BIAToolKit.json"/>
		<add key="CrudGenerationHistory" value="CrudGeneration.bia"/>
		<add key="OptionGenerationHistory" value="OptionGeneration.bia"/>
		<add key="DtoGenerationHistory" value="DtoGeneration.bia"/>
		<add key="PackageLockFileName" value="package-lock.json"/>
		<!-- Attribute name -->
		<add key="DtoCustomAttributeClass" value="BiaDtoClass"/>
		<add key="DtoCustomAttributeField" value="BiaDtoField"/>
		<!-- Update -->
		<add key="AutoUpdate" value="true"/>
		<add key="UpdateServer" value="C:\temp\BiaToolKitServer"/>
		<add key="UpdateVersionFileName" value="version.txt"/>
		<add key="UpdateArchiveName" value="BiaToolKit.zip"/>
		<add key="UpdaterName" value="BIA.ToolKit.Updater.exe"/>
	</appSettings>
 <userSettings>
  <BIA.ToolKit.Properties.Settings>
   <setting name="BIATemplateLocalFolder" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="BIATemplateGitHub" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CompanyFilesGit" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CompanyFilesLocalFolder" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="BIATemplateLocalFolderText" serializeAs="String">
    <value>D:\...\BIATemplate</value>
   </setting>
   <setting name="CompanyFilesGitRepo" serializeAs="String">
    <value>https://.../_git/BIACompanyFiles</value>
   </setting>
   <setting name="CompanyFilesLocalFolderText" serializeAs="String">
    <value>D:\...\BIACompanyFiles</value>
   </setting>
   <setting name="CreateProjectRootFolderText" serializeAs="String">
    <value>D:\...\MyRootProjectPath</value>
   </setting>
   <setting name="CreateCompanyName" serializeAs="String">
    <value>CompanyName</value>
   </setting>
   <setting name="UseCompanyFile" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CustomTemplates" serializeAs="String">
    <value />
   </setting>
   <setting name="UpgradeRequired" serializeAs="String">
    <value>True</value>
   </setting>
  </BIA.ToolKit.Properties.Settings>
 </userSettings>
</configuration>