<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- File name -->
		<add key="GenerationSettings" value="BIAToolKit.json"/>
		<add key="GenerationHistory" value="CrudGeneration.bia"/>
		<add key="PackageLockFileName" value="package-lock.json"/>
		<add key="ProjectCreatorSettingFileName" value="BiaToolKit_ProjectCreator.json"/>
		<!-- Attribute name -->
		<add key="DtoCustomAttributeClass" value="BiaDtoClass"/>
		<add key="DtoCustomAttributeField" value="BiaDtoField"/>
	</appSettings>
</configuration>