<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ include file="$(T4Includes_5_0_0)\TemplateCrud.ttinclude" #>
<#@ output extension=".cs" #>
<# if(ModelInstance.IsTeam && ModelInstance.HasParent) { #>
                // BIAToolKit - Begin Partial TeamMapperParentTeamTitle <#= ModelInstance.EntityName #>
                <#= ModelInstance.EntityName #> <#= ModelInstance.EntityName.ToCamelCase() #> => team.TeamTypeId == (int)TeamTypeId.<#= ModelInstance.EntityName #> ? <#= ModelInstance.EntityName.ToCamelCase() #>.<#= ModelInstance.ParentName #>.Title : string.Empty,

                // BIAToolKit - End Partial TeamMapperParentTeamTitle <#= ModelInstance.EntityName #>
<# }  #>