<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ include file="$(T4Includes_6_0_0)\TemplateCrud.ttinclude" #>
<#@ output extension=".cs" #>
<#  if(ModelInstance.HasFixableParent) { #>
            // BIAToolKit - Begin Partial FixedChildrenRepositorySet<#= ModelInstance.ParentName #> <#= ModelInstance.EntityName #>
            this.<#= ModelInstance.EntityName.ToCamelCase() #>Repository = <#= ModelInstance.EntityName.ToCamelCase() #>Repository;
            // BIAToolKit - End Partial FixedChildrenRepositorySet<#= ModelInstance.ParentName #> <#= ModelInstance.EntityName #>
<# }  #>