<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ include file="$(T4Includes_5_0_0)\TemplateCrud.ttinclude" #>
<#@ output extension=".ts" #>
<#  if(ModelInstance.IsTeam) { #>
  // BIAToolKit - Begin Partial TeamTypeIdConstants <#= ModelInstance.EntityName #>
  // TODO after creation of team <#= ModelInstance.EntityName #> : adapt enum value
  <#= ModelInstance.EntityName #> = 3,
  // BIAToolKit - End Partial TeamTypeIdConstants <#= ModelInstance.EntityName #>
<# }  #>